<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Tambah Jurusan</title>
</head>
<body>
  <h1>Form tambah jurusan</h1>
  <form th:action="@{~/jurusan/save}" method="post">
      <label>Kode</label> <br>
      <input type="text" name="code" id="code"> <br>

      <label>Nama Jurusan</label> <br>
      <input type="text" name="name" id="name"> <br>

      <label>Nama Fakultas</label> <br>
      <select name="fakultas.id">
          <option value=""></option>
          <option th:each="data : ${fakultasList}" th:value="${data.id}" th:text="${data.name}"></option>
      </select>
      <br>

      <button type="submit">Submit</button>
  </form>
</body>
</html>