<!-- Card Start  -->
<form th:action="@{~/mahasiswa/update}" method="post">
    <input type="hidden" name="id" th:value="${data.id}">
    <div class="card">
        <div class="card-header bg-warning">
            <h3 class="card-title">Edit Mahasiswa</h3>
        </div>

        <div class="card-body">

            <div class="form-group">
                <label>Nama Mahasiswa</label>
                <input id="name" type="text" name="name" class="form-control" th:value="${data.name}" >
            </div>

            <div class="form-group">
                <label>Jenis Kelamin</label>
                <select class="form-control" name="jk">
                    <option value=""></option>
                    <option th:value="Laki-laki" th:selected="${data.jk} == Laki-laki">Laki-laki</option>
                    <option th:value="Perempuan" th:selected="${data.jk} == Perempuan">Perempuan</option>
                </select>
            </div>

            <div class="form-group">
                <label>Alamat</label>
                <input type="text" name="alamat" class="form-control" th:value="${data.alamat}" >
            </div>

            <div class="form-group">
                <label>Tempat Lahir</label>
                <input type="text" name="tmptLahir" class="form-control" th:value="${data.tmptLahir}" >
            </div>

            <div class="form-group">
                <label>Tanggal Lahir</label>
                <input type="date" name="tglLahir" class="form-control" th:value="${data.tglLahir}" >
            </div>

            <div class="form-group">
                <label>Agama</label>
                <select class="form-control" name="agama">
                    <option value=""></option>
                    <option th:value="Islam" th:selected="${data.agama} == Islam">Islam</option>
                    <option th:value="Kristen" th:selected="${data.agama} == Kristen">Kristen</option>
                    <option th:value="Buddha" th:selected="${data.agama} == Buddha">Buddha</option>
                    <option th:value="Konghucu" th:selected="${data.agama} == Konghucu">Konghucu</option>
                </select>
            </div>

            <div class="form-group">
                <label>Jurusan</label>
                <select class="form-control" name="jurusan.id">
                        <option value=""></option>
                        <option th:each="jurusan : ${jurusanList}" th:value="${jurusan.id}" th:text="${jurusan.name}" th:selected="${jurusan.id} == ${data.jurusanId}"></option>
                    </select>
            </div>

        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-success">Update</button>
        </div>
        </div>
</form>
<!-- Card End  -->
