<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Form Add Fakultas</h1>
    <form th:action="@{~/fakultas/save}" method="post">
        <label>Kode</label> <br/>
        <input th:type="text" name="code" id="code"> <br/>

        <label>Nama</label> <br/>
        <input th:type="text" name="name" id="name"> <br/>

        <label>Alamat</label> <br/>
        <textarea name="alamat" id="alamat" rows="5" cols="10"> </textarea> <br/>

        <button type="submit">Simpan</button>
    </form>
</body>
</html>