<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Fakultas</title>
    <style>
        th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1>Index Fakultas</h1>
<a th:href="@{~/fakultas/add}">New Fakultas</a>
<table>
    <thead>
        <tr>
            <td>Kode</td>
            <td>Nama Fakultas</td>
            <td>Alamat</td>
            <td>Action</td>
        </tr>
    </thead>

    <tbody>
    <tr th:each="data : ${dataList}">
        <td th:text="${data.code}"></td>
        <td th:text="${data.name}"></td>
        <td th:text="${data.alamat}"></td>
        <td>
            <a href="">Detail</a> &nbsp;
            <a href="">Edit</a> &nbsp;
            <a href="">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>